/* Header geral */
header {
    background: #b6b4b4; /* Fundo preto */
    color: rgb(0, 0, 0);
    padding: 2rem 0;
}

/* Container flexível para alinhar imagem e texto */
.header-container {
    display: flex; /* Flexbox para alinhar itens horizontalmente */
    align-items: center; /* Alinhar verticalmente ao centro */
    justify-content: flex-start; /* Texto ao lado da imagem */
    max-width: 1100px; /* Largura máxima para centralização */
    margin: auto; /* Centralizar o conteúdo horizontalmente */
    padding: 0 2rem; /* Espaço interno nas laterais */
}

/* Estilo da foto de perfil */
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Tornar a imagem redonda */
    margin-right: 20px; /* Espaço entre imagem e texto */
}

/* Texto dentro do header */
.header-text {
    flex: 1; /* Permitir que o texto ocupe o espaço restante */
}

header h1 span {
    color: #a75c9a; /* Cor destaque do texto */
}
